* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

    a {
        text-decoration: none;
    }
}

.content {
    width: 1100px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

header {
    background: #87509c;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    color: #fff;

    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;

        &__menu {
            user-select: none;
            ul {
                list-style: none;
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                font-weight: 400;
                width: 480px;

                li {
                    width: 80px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: background 0.2s;
                    border-radius: 5px;

                    &:hover {
                        background: #643a79;
                    }
                }
            }
        }
    }

    .header__content {
        text-align: center;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
            width: 293px;
            height: 70px;
            background: #EB7D4B;
            border-bottom: 5px #C86A3F solid;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            transition: filter 0.2s;
            margin-top: 47px;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }
}

.services {
    height: 740px;
    background: #17C2A4;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__top {
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h1 {
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 87px;
                height: 4px;
                background: #17C2A4;
                filter: brightness(0.75);
            }
        }

        p {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 400;
        }

    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 205px;
            height: 320px;
            text-align: center;

            p {
                width: 205px;
            }

            svg {
                height: 130px;
            }

            div {
                height: 125px;

                p {
                    margin-top: 12px;
                }
            }
        }
    }
}

.team {
    height: 915px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #E7F1F8;
    color: #3C4761;

    &__top {
        margin-top: 100px;
        h1 {
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 87px;
                height: 4px;
                background: #E7F1F8;
                filter: brightness(0.75);
            }
        }

        p {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 525px;
            .avatar {
                width: 200px;
                height: 200px;
                display: block;
                background: #878787;
                border-radius: 100%;
            }

            .text {
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 16px;
                font-weight: 300;
                width: 200px;

                .title {
                    p {
                        color: #30BAE7;
                    }
                }

                .icons {
                    user-select: none;
                    svg {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.skills {
    height: 655px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #3C4761;
    &__top {
        margin-top: 100px;
        h1 {
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 87px;
                height: 4px;
                background: #E7F1F8;
                filter: brightness(0.75);
            }
        }

        p {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 130px;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 200px;
            justify-content: space-between;

            p {
                position: relative;
                font-size: 50px;
                font-weight: 300;

                img {
                    position: absolute;
                    left: -50%;
                    top: -50%;
                }
            }
        }
    }
}

.work {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#393939;
    background: #FFDD99;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 110px;

    &__top {
        margin-top: 100px;
        h1 {
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 87px;
                height: 4px;
                background:#FFDD99;
                filter: brightness(0.75);
            }
        }

        p {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .btns {
            margin-top: 40px;
            margin-bottom: 62px;
            user-select: none;
            width: 420px;
            display: flex;
            justify-content: space-between;
            button {
                padding: 5px 28px 5px 28px;
                background: #FFDD99;
                filter: brightness(0.8);
                border-radius: 4px;
                cursor: pointer;
                transition: background 0.2s;
                border: none;

                &:hover {
                    background: #fff;
                }

                &.active {
                    background: #fff;
                    filter: brightness(1);
                }

                &:focus {
                    outline: none;
                }

                &:disabled {
                    background: #fff;
                    color: #393939;
                }
            }
        }

        .examples {
            height: 820px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            overflow: hidden;
            transition: height 0.5s;

            .item {
                transition: opacity 0.3s;
                opacity: 1;
                img {
                    margin-bottom: 25px;
                    margin-top: 40px;
                }
            }
        }

        .load {
            width: 293px;
            height: 70px;
            color: #fff;
            background: #17C2A4;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            user-select: none;
            border-bottom: 4px #13A58B solid;
            transition: filter 0.2s;
            margin-top: 120px;

            &:hover {
                filter: brightness(0.7)
            }
        }
    }
}

.feedback {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background: #D74680;
    font-size: 18px;
    font-weight: 400;

    &__top {
        margin-top: 100px;
        text-align: center;
        h1 {
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 87px;
                height: 4px;
                background:#D74680;
                filter: brightness(0.75);
            }
        }

        p {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        width: 1100px;
        height: 574px;
        flex-wrap: wrap;
        margin-top: 90px;
        justify-content: space-between;

        &__item {
            width: 500px;
            height: 200px;
            display: flex;
            justify-content: space-between;

            .avatar {
                display: block;
                width: 96px;
                height: 96px;
                background: #787878;
                border-radius: 100%;
            }

            p {
                font-style: italic;
                font-size: 21px;
                width: 350px;
            }

            .title {
                p {
                    font-style: normal;
                    font-size: 18px;
                    font-weight: 400;
                    color: #FFDD99;
                }
            }
        }
    }
}

.contact {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background: #3C5499;
    font-size: 18px;
    font-weight: 400;

    &__top {
        margin-top: 100px;
        text-align: center;
        h1 {
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 87px;
                height: 4px;
                background:#3C5499;
                filter: brightness(0.75);
            }
        }

        p {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__content {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        form {
            width: 860px;
            height: 412px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 300;
            position: relative;

            .form__top {
                display: flex;
                width: 100%;
                justify-content: space-between;

                &__input {
                    position: relative;
                    input {
                        width: 414px;
                        height: 56px;
                        border: none;
                        border-radius: 4px;
                        background: #273A71;
                        font-size: 18px;
                        font-weight: 300;
                        color: #fff;
                        padding-left: 10px;

                        &:focus {
                            outline: none;
                            box-shadow: 0px 0px 8px 0px #30BAE7;
                        }
                    }

                    label {
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        transition: top 0.2s;
                        user-select: none;

                        span {
                            color: #FF4444;
                        }
                    }
                }
            }

            .form__textarea {
                width: 100%;
                height: 200px;
                position: relative;
                label {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    user-select: none;
                    transition: top 0.2s;

                    span {
                        color: #FF4444;
                    }
                }
                textarea {
                    width: 100%;
                    height: 100%;
                    resize: none;
                    border: none;
                    border-radius: 4px;
                    background: #273A71;
                    font-size: 18px;
                    font-weight: 300;
                    color: #fff;
                    padding: 10px 0 0 10px;
    
                    &:focus {
                        outline: none;
                        box-shadow: 0px 0px 8px 0px #30BAE7;
                    }
                }
            }

            #error {
                opacity: 0;
                font-size: 18px;
                font-weight: 700;
                color: #5ce03b;
                transition: opacity 0.3s;
                position: absolute;
                top: 100%;
            }

            button {
                width: 293px;
                height: 70px;
                border: none;
                background: #30BAE7;
                border-bottom: 4px #289EC4 solid;
                border-radius: 4px;
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                cursor: pointer;
                transition: filter 0.2s;

                &:hover {
                    filter: brightness(0.8);
                }

                &:focus {
                    outline: none;
                }

                &:disabled {
                    filter: grayscale(100%)
                }
            }
        }
    }
}

footer {
    background: #344B8E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    .footer__content {
        display: flex;
        justify-content: space-between;
        a {
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }
    }
}


@media (min-width: 980px) and (max-width: 1150px) {
    .content {
        width: 960px;
    }

    .skills {
        &__content {
            width: 900px;
            &__item {
                p {
                    font-size: 40px;
                    img {
                        width: 130px;
                    }
                }
            }
        }
    }

    .work {
        &__content {
            .examples {
                height: 584.282px;
                .item {
                    width: 480px;
                    text-align: center;
                    p {
                        margin-right: 0;
                    }
                    img {
                        width: 70%;
                    }
                }
            }
        }
    }

    .feedback {
        &__content {
            &__item {
                width: 400px;
                .text {
                    width: 300px;
                    p {
                        font-size: 18px;
                        width: 300px;
                    }

                    .title {
                        h2 {
                            font-size: 21px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .content {
        width: 460px;
    }

    header {
        .header__top {
            &__menu {
                ul {
                    display: none;
                }
            }
        }

        .header__content {
            margin-top: 80px;
        }
    }

    .services {
        height: 1050px;
        &__content {
            flex-wrap: wrap;

            &__item {
                margin-bottom: 20px;
            }
        }
    }

    .team {
        height: 1500px;
        &__content {
            flex-wrap: wrap;
            &__item {
                margin-bottom: 20px;
            }
        }
    }

    .skills {
        height: 1000px;
        &__content {
            flex-wrap: wrap;
            &__item {
                margin-bottom: 100px;
                width: 230px;
            }
        }
    }

    .work {
        &__content {
            .examples {
                .item {
                    img {
                        width: 70%;
                    }
                }
            }
        }
    }

    .feedback {
        height: 1200px;
    }

    .contact {
        &__content {
            form {
                height: 540px;
                .form__top {
                    flex-direction: column;
                    align-items: center;

                    &__input {
                        margin-top: 40px;
                    }
                }

                .form__textarea {
                    width: 414px;
                    textarea {
                        width: 414px;
                    }
                }
            }
        }
    }

    footer {
        .footer__content {
            a {
                font-size: 14px;
            }
        }
    }
}