* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

* a {
  text-decoration: none;
}

.content {
  width: 1100px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

header {
  background: #87509c;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  color: #fff;
}

header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

header .header__top__menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .header__top__menu ul {
  list-style: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  width: 480px;
}

header .header__top__menu ul li {
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  border-radius: 5px;
}

header .header__top__menu ul li:hover {
  background: #643a79;
}

header .header__content {
  text-align: center;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__content .btn {
  width: 293px;
  height: 70px;
  background: #EB7D4B;
  border-bottom: 5px #C86A3F solid;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  margin-top: 47px;
}

header .header__content .btn:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.services {
  height: 740px;
  background: #17C2A4;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__top {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.services__top h1 {
  position: relative;
}

.services__top h1:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 87px;
  height: 4px;
  background: #17C2A4;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.services__top p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.services__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 205px;
  height: 320px;
  text-align: center;
}

.services__content__item p {
  width: 205px;
}

.services__content__item svg {
  height: 130px;
}

.services__content__item div {
  height: 125px;
}

.services__content__item div p {
  margin-top: 12px;
}

.team {
  height: 915px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #E7F1F8;
  color: #3C4761;
}

.team__top {
  margin-top: 100px;
}

.team__top h1 {
  position: relative;
}

.team__top h1:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 87px;
  height: 4px;
  background: #E7F1F8;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.team__top p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.team__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 525px;
}

.team__content__item .avatar {
  width: 200px;
  height: 200px;
  display: block;
  background: #878787;
  border-radius: 100%;
}

.team__content__item .text {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
  width: 200px;
}

.team__content__item .text .title p {
  color: #30BAE7;
}

.team__content__item .text .icons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.team__content__item .text .icons svg {
  cursor: pointer;
}

.skills {
  height: 655px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #3C4761;
}

.skills__top {
  margin-top: 100px;
}

.skills__top h1 {
  position: relative;
}

.skills__top h1:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 87px;
  height: 4px;
  background: #E7F1F8;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.skills__top p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 130px;
}

.skills__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__content__item p {
  position: relative;
  font-size: 50px;
  font-weight: 300;
}

.skills__content__item p img {
  position: absolute;
  left: -50%;
  top: -50%;
}

.work {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #393939;
  background: #FFDD99;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 110px;
}

.work__top {
  margin-top: 100px;
}

.work__top h1 {
  position: relative;
}

.work__top h1:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 87px;
  height: 4px;
  background: #FFDD99;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.work__top p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__content .btns {
  margin-top: 40px;
  margin-bottom: 62px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__content .btns button {
  padding: 5px 28px 5px 28px;
  background: #FFDD99;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  border: none;
}

.work__content .btns button:hover {
  background: #fff;
}

.work__content .btns button.active {
  background: #fff;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.work__content .btns button:focus {
  outline: none;
}

.work__content .btns button:disabled {
  background: #fff;
  color: #393939;
}

.work__content .examples {
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.work__content .examples .item {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

.work__content .examples .item img {
  margin-bottom: 25px;
  margin-top: 40px;
}

.work__content .load {
  width: 293px;
  height: 70px;
  color: #fff;
  background: #17C2A4;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 4px #13A58B solid;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  margin-top: 120px;
}

.work__content .load:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.feedback {
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #D74680;
  font-size: 18px;
  font-weight: 400;
}

.feedback__top {
  margin-top: 100px;
  text-align: center;
}

.feedback__top h1 {
  position: relative;
}

.feedback__top h1:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 87px;
  height: 4px;
  background: #D74680;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.feedback__top p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  height: 574px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__content__item {
  width: 500px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__content__item .avatar {
  display: block;
  width: 96px;
  height: 96px;
  background: #787878;
  border-radius: 100%;
}

.feedback__content__item p {
  font-style: italic;
  font-size: 21px;
  width: 350px;
}

.feedback__content__item .title p {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #FFDD99;
}

.contact {
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #3C5499;
  font-size: 18px;
  font-weight: 400;
}

.contact__top {
  margin-top: 100px;
  text-align: center;
}

.contact__top h1 {
  position: relative;
}

.contact__top h1:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 87px;
  height: 4px;
  background: #3C5499;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.contact__top p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.contact__content {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__content form {
  width: 860px;
  height: 412px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
  position: relative;
}

.contact__content form .form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__content form .form__top__input {
  position: relative;
}

.contact__content form .form__top__input input {
  width: 414px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background: #273A71;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding-left: 10px;
}

.contact__content form .form__top__input input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 8px 0px #30BAE7;
          box-shadow: 0px 0px 8px 0px #30BAE7;
}

.contact__content form .form__top__input label {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact__content form .form__top__input label span {
  color: #FF4444;
}

.contact__content form .form__textarea {
  width: 100%;
  height: 200px;
  position: relative;
}

.contact__content form .form__textarea label {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
}

.contact__content form .form__textarea label span {
  color: #FF4444;
}

.contact__content form .form__textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  border-radius: 4px;
  background: #273A71;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding: 10px 0 0 10px;
}

.contact__content form .form__textarea textarea:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 8px 0px #30BAE7;
          box-shadow: 0px 0px 8px 0px #30BAE7;
}

.contact__content form #error {
  opacity: 0;
  font-size: 18px;
  font-weight: 700;
  color: #5ce03b;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  top: 100%;
}

.contact__content form button {
  width: 293px;
  height: 70px;
  border: none;
  background: #30BAE7;
  border-bottom: 4px #289EC4 solid;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.contact__content form button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.contact__content form button:focus {
  outline: none;
}

.contact__content form button:disabled {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

footer {
  background: #344B8E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__content a {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

@media (min-width: 980px) and (max-width: 1150px) {
  .content {
    width: 960px;
  }
  .skills__content {
    width: 900px;
  }
  .skills__content__item p {
    font-size: 40px;
  }
  .skills__content__item p img {
    width: 130px;
  }
  .work__content .examples {
    height: 584.282px;
  }
  .work__content .examples .item {
    width: 480px;
    text-align: center;
  }
  .work__content .examples .item p {
    margin-right: 0;
  }
  .work__content .examples .item img {
    width: 70%;
  }
  .feedback__content__item {
    width: 400px;
  }
  .feedback__content__item .text {
    width: 300px;
  }
  .feedback__content__item .text p {
    font-size: 18px;
    width: 300px;
  }
  .feedback__content__item .text .title h2 {
    font-size: 21px;
  }
  .feedback__content__item .text .title p {
    font-size: 15px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .content {
    width: 460px;
  }
  header .header__top__menu ul {
    display: none;
  }
  header .header__content {
    margin-top: 80px;
  }
  .services {
    height: 1050px;
  }
  .services__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__content__item {
    margin-bottom: 20px;
  }
  .team {
    height: 1500px;
  }
  .team__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__content__item {
    margin-bottom: 20px;
  }
  .skills {
    height: 1000px;
  }
  .skills__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills__content__item {
    margin-bottom: 100px;
    width: 230px;
  }
  .work__content .examples .item img {
    width: 70%;
  }
  .feedback {
    height: 1200px;
  }
  .contact__content form {
    height: 540px;
  }
  .contact__content form .form__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__content form .form__top__input {
    margin-top: 40px;
  }
  .contact__content form .form__textarea {
    width: 414px;
  }
  .contact__content form .form__textarea textarea {
    width: 414px;
  }
  footer .footer__content a {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .content {
    width: 300px;
  }
  header .header__top__menu ul {
    display: none;
  }
  header .header__content {
    margin-top: 50px;
  }
  header .header__content h1 {
    font-size: 30px;
  }
  .services {
    height: 1800px;
  }
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__content__item {
    margin-bottom: 20px;
  }
  .team {
    height: 2700px;
  }
  .team__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team__content__item {
    margin-bottom: 20px;
  }
  .skills {
    height: 1600px;
  }
  .skills__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills__content__item {
    margin-bottom: 100px;
    width: 230px;
  }
  .work__content .btns {
    width: 200px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__content .btns button {
    padding: 0;
    width: 80px;
    height: 30px;
  }
  .work__content .examples .item img {
    width: 70%;
  }
  .feedback {
    height: 1900px;
  }
  .feedback__content__item {
    width: 300px;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 80px;
  }
  .feedback__content__item .text p {
    width: 280px;
  }
  .contact__content form {
    height: 540px;
  }
  .contact__content form .form__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__content form .form__top__input {
    margin-top: 40px;
  }
  .contact__content form .form__top__input input {
    width: 300px;
  }
  .contact__content form .form__textarea {
    width: 300px;
  }
  .contact__content form .form__textarea textarea {
    width: 300px;
  }
  footer .footer__content a {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */